In [76]:
from sklearn.linear_model import LogisticRegression
from sklearn.datasets import load_iris
import seaborn as sns;
from sklearn.neighbors import KNeighborsClassifier as KNN

## Première méthode

In [77]:
X, y = load_iris(return_X_y=True)
clf = LogisticRegression(random_state=0).fit(X, y)
clf.predict(X[:2, :])

c:\users\alpha\appdata\local\programs\python\python38\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

array([0, 0])

In [78]:
clf.predict_proba(X[:2, :])

array([[9.81784372e-01, 1.82156139e-02, 1.43263055e-08],
       [9.71695385e-01, 2.83045847e-02, 2.99722563e-08]])

In [79]:
clf.score(X, y)

0.9733333333333334

## Second méthode

In [80]:
iris = sns.load_dataset('iris')

In [81]:
Y = iris['species'].astype('category').cat.codes # On veut afficher le type de fleur
X = iris.drop('species', axis='columns') # On garde que les dimension de la fleur

In [82]:
iris.head(11)

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa

In [83]:
X1 = X.sample(1) #Selectionne 1 ligne aleatoire

In [84]:
X1

    sepal_length  sepal_width  petal_length  petal_width
95           5.7          3.0           4.2          1.2

In [85]:
#clf = LogisticRegression(random_state=0).fit(X, Y)
knn = KNN(n_neighbors=3)
knn.fit(X, Y)

KNeighborsClassifier(n_neighbors=3)

In [87]:
#clf.predict(X1)
knn.predict(X1)

array([1], dtype=int8)

In [74]:
#clf.predict_proba(X1)
knn.predict_proba(X1)

array([[1., 0., 0.]])

In [75]:
knn.score(X, Y)

0.96